.login_new {
    min-height: 100vh;
    background-color: rgb(193, 190, 255);
    display: block;
    align-items: center;
    justify-content: center;
    background: #fff6c2;
    padding: 11vh 22vw;
}
p {
    padding: 0;
}

.card_login_new {
    
    display: flex;
    background-color:  #fff6c2;
    border-radius: 10px;
    min-height: 30vh;
    overflow: hidden;
    flex-wrap: wrap;
}

.left_login_new {
    flex: 1;
    background: #ebb216;
    background-size: cover;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    color: white;
}

.head_login_new {
    font-size: 6vw;
    line-height: 6vw;
}

.mess_login_new {
    font-size: 2vh;
}

.register_but_login_new {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fecb3e;
    color: #555;
    font-weight: bold;
    cursor: pointer;
}


.right_login_new {
    flex: 1;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    justify-content: center;
    background-color: white;
}

.head_login_new {
    color: #555;
}

.login_form_new {
    display: flex;
    flex-direction: column;
}

.email_login_new,
.password_login_new {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}

.log_button_login_new {
    margin-top: 3vh;
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #fecb3e;
    color: #555;
    font-weight: bold;
    cursor: pointer;
}

.log_button_login_new:hover, .register_but_login_new:hover {
    background: #fff6c2;
}
@media screen and (max-width:903px) {
    .login_new {
        padding: 6vh 21vw;
    }
    .left_login_new {
        max-width:32vw;
        
    }
    .right_login_new {
        max-width: 32vw;
    }
}
@media screen and (max-width:828px) {
    .login_new {
        padding: 6vh 16vw;
        
    }
    
}
@media screen and (max-width: 594px ) {
    .left_login_new{
        max-width: 69vw;
    }
    .right_login_new{
        max-width: 69vw;
        gap:0
    }
    
}