.HFooter {
    background: rgb(238, 246, 250);
    height: fit-content;
    padding-bottom: 1vh;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.108);
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
.HP_u {
    display: grid;
    grid-template-columns: 30% 0% 50% 20%;
    /* height: 80%; */
    padding-top: 6%;
    padding-bottom: 2.5%;
}

.logo_img{
    height: 10vh;
    width: auto;
}

.HP_u_1 {
    

    /* or 100% */
    letter-spacing: 0.01em;
    
    /* White */
    color: #000000;
    /* display: flex; */
    /* align-items: center; */
    margin-left: 5vw;
    margin-top: 2vh;
}
.HP_u_3{
    margin-left: 10vw;
}

.HP_u_3d img:hover{
    outline: 1px solid #fff;
    transition: .2s ease-out;
}

.HP_u_21 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 4vh;
    
    /* identical to box height */
    
    /* White */
    color: #000000;
}

.HP_u_22 {
    /* margin-top: 20px; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    
    /* or 214% */

    /* White */
    color: #000000;
    list-style-type: none;
}
.HP_u_22 a{
    cursor: pointer;
}
.HP_u_22 a:hover{
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: .2s ease-out;
}

.HP_u_3a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 4vh;
    
    /* identical to box height */
    
    /* White */
    color: #000000;
}

.HP_u_3b {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 4vh;
    margin-top: 20px;
    /* identical to box height, or 214% */
    
    /* White */
    color: #000000;
    opacity: 1;
    mix-blend-mode: normal;
}

.HP_u_3abaa,
.HP_u_3abba {
    opacity: 0.7;
    display: inline;
}

.HP_u_3ba {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 3vh;
    
    /* identical to box height */
    
    /* White */
    color: #000000;
    padding-top: 0px;
}

.HP_u_4 {
    top: 0;
}
.HP_u_4a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 5vh;
    margin-bottom: 2vh;
    
    /* margin-bottom: 26px; */
    /* identical to box height */

    /* White */
    color: #000000;
}

.HFooter hr {
    /* margin-top: 20px; */
    opacity: 0.4;
    margin-bottom: 20px;
}

.HP_d img {
    margin-top: 20px;
}

.HP_d {
    display: grid;
    grid-template-columns: 80% 20%;
}

.HP_d1 {
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* identical to box height */
    letter-spacing: 0.035em;

    /* White */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.HP_d2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* identical to box height */
    text-align: center;

    /* White */
    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.75;
}

/* .HP_u_3d img {
    width: 20px;
    margin-right: 10px;
} */
/* .HP-image-cont{
    display: flex;
    align-items: center;
    gap: 6px;
} */
.logo_socio{
    color: #000000;
    font-size: 4vh;
    line-height: 8vh;
}