.boxpp{
    position: fixed;
    z-index: 10000;
    top: 20vh; 
    visibility: hidden;
    height: 55vh;
    width: 40vw;
    box-shadow: 0 0 5px rgb(97, 95, 95);
    margin-left: 30vw;
    background-color: white;
    border-radius: 5px;
}
.cross_pop{
    position: absolute;
    right: 1vw;
    top: 0;
    cursor: pointer;
    font-size: 6vh;
    text-align: right;
    padding-top: 2.5vh;
}
.login_pop{
    margin-left: 7vw;
}
.shopkeeper_button, .customer_button, .register_button{
    height: 8vh;
    width: 25vw;
    background: rgb(195, 245, 241);
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    border: none;
    box-shadow: 0 0 5px rgb(97, 95, 95);
}
.customer_button:hover, .register_button:hover{
    background: rgb(150, 244, 236);
}
.shopkeeper_button:hover{
    background: rgb(150, 244, 236);
}
.shopkeeper_button{
    margin-top: 2vh;
}
.customer_button{
    margin-top: 15vh;
} 

.register_button{
    margin-top: 2vh;
}
