.head_listService{
    font-size: 5vh;
}
.service_list_sec{
    display: flex;
    margin-top: 5vh;
}
.about_service_list{
    width: 25vw;
}
.service_img_list{
    width: 4vw;
    height: 6vh;
}
.service_name_list{
    font-size: 4vh;
    font-weight: 500;
}
