.gallery{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    padding: 5vh;
    margin: 8vh;
    box-shadow: 0 3px 4px black;
}
.gal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5vh;
}
.gallery img{
    width: 40%;
    height: fit-content;
    
    
    
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}