.Main{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    
    
}
.main{
   
    display: flex;
    flex-direction: column;
    margin: 8vh;
    width: 50%;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    padding: 5vh;
    box-shadow: 0 3px 4px black;
}
.name{
    display: flex;
    flex-direction: row;

}
.name img{
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    text-align: center;
    margin-top: 10px;
}
.Name{
    display: flex;
    flex-direction: column;
    padding-left: 5vh;
}
.stars{
    display: flex;
    flex-direction: row;
    margin-top: 2.5vh;
}
.timings{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.timings span{
    margin-top: 2.5vh;
}
.location{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom:20px ;
}
.loc{
    display: flex;
    flex-direction: row;
    margin-top: 2.5vh;
    
}
.loc span{
    margin-right: 20px;
}
.buttons button{
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    
}

@media only screen and (max-width: 600px) {
    .Main{
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
        margin-left: 0;
        
    }
  }
